/*
A "Nice & Foamy" Website by Nicholas Hosken
font-family: 'Open Sans', sans-serif;
*/


*	{	border:0;
			font-family:'Open Sans',"Times New Roman", Times, serif;
				font-size:16px;
					font-weight:normal;
						margin:0 auto; }

body	{	background-image:url(../images/wooden_background_1920x1200.jpg);
		 		background-repeat:no-repeat;
		  			background-size:cover;
		   				background-attachment:fixed; 
							text-decoration:none; 
								font-family:Arial, Helvetica, sans-serif;
									color:white; }
							
h1, h2, h3, h4	{	font-family:'Open Sans',Tahoma, Geneva, sans-serif;
						color:#74AF1F;
							text-shadow:1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000; }
h1	{	font-size:48px;
			margin-top:30px; }
h2	{	font-size:36px; }
h3	{	font-size:24px; }
h4	{	font-size:18px; }

img	{	border:3px solid #835C3B;
			padding: 2px; }

#wrapper	{	width:900px;
					margin:10px auto; }

#logo	{	margin:40px 0 0 100;
				width:312px;
					margin-left:auto ;
  						margin-right:auto ; }
#logo img	{	border:none; }



#call	{	float:right;
				text-align:right;
					margin-left:10px; }
#call_text	{	text-align:right;
					margin:0 0 0 0;
						font-size:14px;
							clear:#social; }	



#social	{ 	text-align:right; }
#social ul li	{ 	display:inline; }



#topnav	{ 	clear:both; }
#topnav	ul	{	margin:0;
					padding:0;
						border-top: 2px solid black; }
#topnav ul li	{	display:inline;
						padding:5px 40px 5px 0;
							float:left;	}
							
#topnav a:link		{	font-weight:bold; text-decoration:none; text-transform:uppercase; color:#CC6600; font-size:14px; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
#topnav a:activate	{	font-weight:bold; text-decoration:none;	text-transform:uppercase; color:#CC6600; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
#topnav a:visited	{	font-weight:bold; text-decoration:none; text-transform:uppercase; color:#CC6600; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
#topnav a:hover		{	font-weight:bold; text-decoration:none; text-transform:uppercase; color:khaki; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
#topnav a:focus		{	font-weight:bold; text-decoration:none; text-transform:uppercase; color:khaki; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
							
#banner	{	padding:3px 0 0 0; }
				
#banner_background	{	background-color:khaki; 
							width:900px; 
								height:453px; 
									margin-top:29px; 
										margin-bottom:300px; 
											clear:both;
												border-radius: 5px; } 

#content	{	float:left;
					width: 670px; }
#content p strong	{	line-height:140%; }
#content p	{	line-height:140%; }
							 
#box1	{	width:310px;
				float:left;
					margin:25px 30px 25px 0;
						padding:5px; }
#box1 p strong	{	font-size:14px;
						color:khaki; }


#box2	{	width:310px;
				float:left;
					margin:25px 0; 
						padding:5px; }
#box2 p strong	{	font-size:14px;
						color:khaki; }

#content2	{	clear:left; }
#content2 ul	{	line-height:140%;
						text-align:justify; }

#right_side	{	float:right;
					width: 206px;
						margin:50px 0 30px 0;
							line-height:140%;
								padding:0 0 15px 15px;
									 }
#right_side h2 font	{ font-size:24px;
						text-align: center;
							vertical-align: middle; }
#right_side p	{	font-size:12px; }

.rs_image	{	margin-top:15px; }

pre	{	font-size:12px; }

#sale	{	border-top:1px solid black;
				border-bottom:1px solid black; }
				
#sale a	{	text-decoration:none;
				text-shadow:1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000; }
#sale a:link		{	text-decoration:none; text-transform:uppercase; color:khaki; }
#sale a:activate	{	text-decoration:none; text-transform:uppercase; color:khaki; }
#sale a:visited		{	text-decoration:none; text-transform:uppercase; color:khaki; }
#sale a:hover		{	text-decoration:none; text-transform:uppercase; color:#74AF1F; }
#sale a:focus		{	text-decoration:none; text-transform:uppercase; color:#74AF1F; }

#sale p	{	text-align: center;
				vertical-align: middle; }
						
#ta_center 	{	text-align: center;
					vertical-align: middle;
						margin-right:12px; }
						

#hiring h2 	{ font-size:24px;
				text-align: center;
					vertical-align: middle; }
#hiring a	{	text-decoration:none; }

#flag	{	text-align: center;
					vertical-align: middle; }

#foot	{	padding:10px 0 0 0;
				text-align:center; }				
#foot p	{	font-size:12px;
				text-align:center;
					font-weight:700; }