body {
	background-image: url(graphics/bg.gif);
}
body,td,th {
	font-family: Tahoma;
	font-size: 14px;
	color: #000000;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Tahoma;
	font-weight: bold;padding: 0;
	margin: 0px;
}
h1 {
	font-size: 18px;
	color: #D50000;
}
h2 {
	font-size: 15px;
	color: #000000;
}
h3 {
	font-size: 15px;
	color: #000000;
}
a {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.style1 {
	font-size: 16px;
	font-weight: bold;
	color: #D50000;
}

.style2 {color: #000000}

.menu-bg {
	background-image: url(graphics/menu-bg.gif);
	background-repeat: no-repeat;
}
.text-top {
	background-image: url(graphics/text-top.gif);
	background-repeat: no-repeat;
}
.text-bg {
	background-image: url(graphics/text-bg.gif);
	background-repeat: repeat-y;
}
.text-bottom {
	background-image: url(graphics/text-bottom.gif);
	background-repeat: no-repeat;
}


.page:link{
	font-size: 14px;color: #000000;text-decoration:underline; font-family:tahoma; font-weight: normal;
}
.page:visited {
	font-size: 14px;color: #000000;text-decoration:underline;font-family:tahoma; font-weight: normal;
}
.page:hover {
	font-size: 14px;color: #000000;text-decoration:none; font-family:tahoma ;font-weight: normal;
}
.page:active {
	font-size: 14px;color: #000000;text-decoration:underline;font-family:tahoma;font-weight: normal;
}


.email:link{
	font-size: 13px;color: #000000;text-decoration:underline; font-family:tahoma; font-weight: bold;
}
.email:visited {
	font-size: 13px;color: #000000;text-decoration:underline;font-family:tahoma; font-weight: bold;
}
.email:hover {
	font-size: 13px;color: #D50000;text-decoration:underline; font-family:tahoma ;font-weight: bold;
}
.email:active {
	font-size: 13px;color: #000000;text-decoration:underline;font-family:tahoma;font-weight: bold;
}

.style3 {
	font-size: 12px;
	font-weight: bold;
}.arrow {
	background-image: url(graphics/arrow.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
.style4 {
	font-size: 13px;
	font-weight: bold;
}